---
const {class: className, ...rest} = Astro.props
---

<div class:list={["logo", className]} {...rest}>
  <div class="logo__text">
    <p>Mr.</p>
    <p>X</p>
  </div>
  <div class="logo__img">
    <img src="/src/assets/mrx.PNG" alt="Mr.X" />
  </div>
</div>
<style lang="scss">
  div.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d9cdd6;
    padding: 1.2em;
    gap: 2rem;
    &__text {
      text-align: center;
      margin-right: 1.2rem;
      transform: rotateZ(-15deg);
      p {
        font-size: var(--fs-text);
        font-weight: bold;
        margin: 0;
        color: black;
        line-height: 0.8;
      }
      :last-child {
        font-size: var(--fs-logo);
        font-weight: bolder;
      }
    }
    &__img {
      img {
        width: 100%;
      }
    }
  }
</style>
