---

---

<a href="">
  <div class="container">
    <div>
      <h2>David's</h2>
      <h2>Dirty Projects</h2>
    </div>
  </div>
</a>

<style lang="scss">
  a {
    text-decoration-color: black;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 1em;
    
    div.container {
      padding: .75em;
      margin-inline: auto;
      border: solid 1px black;
      background-color: #88bd89;
      display: flex;
      justify-content: center;
      h2 {
        color: black;
        font-size: clamp(3.5rem, 5vw + 1rem, 6rem);
        margin: 0;
      }
    }
  }
</style>