---
import Logo from './Logo.astro'
---

<header class="site-header" transition:persist>
  <div class="site-header__inner">
    <Logo class="logo-style" />
    <div class="site-header__inner__text">
      <p>All The Muck</p>
      <p>That's Fit To Rake</p>
    </div>
    <div class="fake-border"></div>
  </div>
</header>

<style lang="scss">
  .site-header {
    --fs-logo: clamp(12.5rem, 15vw + 1rem, 16.5rem);
    --fs-text: clamp(2.5rem, 5vw + 1rem, 6rem);
    --size: clamp(10rem, 30vw + 1rem, 16.5rem);

    position: relative;
    padding: 1rem;
    &__inner {
      position: relative;
      .logo-style {
        position: fixed;
        width: var(--size);
        border: solid 1px black;
      }
      &__text {
        position: fixed;
        width: calc(100% - var(--size) - 7rem + clamp(1px, .1vw, 3px));
        height: var(--size);
        right: 0;
        margin-right: 1rem;
        display: flex;
        flex-direction: column;
        border: solid 1px black;
        border-left-color:#d9cdd6 ;
        background-color: #d9cdd6;
        padding: 1.2em;
        //height: clamp(6.25rem, 100vw + 1rem, 9.375rem);
        align-content: center;
        color: #0843bf;
        text-align: center;
        p {
          font-size: var(--fs-text);
          font-weight: bold;
          margin: 0;
          line-height: 1.25;
        }
      }
      .fake-border {
        grid-area: 2 / 2 / 3 / 3;
        max-width: 1px;
        background-color: black;
      }
    }
  }
</style>