<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Mr.X's Web Page</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
		position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
		font-family: 'Bitter', serif;
		background-color: #b6a7a9;
  }
</style>
