---

---

<div class="contenedor">
  <div class="cabecera"></div>
  <div class="barra-lateral"></div>
  <div class="contenido-principal">
    <slot />
  </div>
</div>

<style lang="scss">
  .contenedor {
    display: grid;
    grid-template-columns: clamp(10rem + 2rem, 70vw + 1rem + 2rem, 21rem) 1fr; /* Dos columnas: sidebar y contenido principal */
    grid-template-rows: clamp(10rem + 2rem, 70vw + 1rem + 2rem, 19rem) 1fr; /* Dos filas: header y resto del contenido */
    gap: 10px; /* Espacio entre las áreas */
    padding-right: 2em;

    .cabecera {
      grid-area: 1 / 1 / 1 / 3; /* Ocupa toda la fila superior */
      background-color: #b6a7a9;
    }

    .barra-lateral {
      grid-area: 2 / 1 / 3 / 2; /* Ocupa la columna izquierda */
      background-color: #b6a7a9;
    }
    .contenido-principal {
      grid-area: 2 / 2 / 3 / 3; /* Ocupa el resto del espacio */
      background-color: #b6a7a9;
      display: flex;
      flex-direction: column;
      gap: 2em;
    }
  }
</style>
